# Ignore the dataset folder
# IMPORTANT: make sure that your dataset is stored in a
# folder with the same name as the one specified below!

student_data/*
sample_submission.csv
/DLCV_vq2d_data/
final.zip
**/__pycache__/
**.pth**

# output and log of the repo
/output/
/log/
/debug/
val_results.json
/wandb/
/graph/**/*.jpg